@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  /* colors */
  --primary-0: #ecd5f9;
  --primary-1: #e0aaff;
  --primary-2: #c77dff;
  --primary-3: #9d4edd;
  --primary-4: #7b2cbf;
  --primary-5: #5a189a;
  --primary-6: #3c096c;
  --primary-7: #240046;
  --primary-8: #10002b;

  --secondary-1: #a5e6ba;
  --secondary-2: #9ac6c5;
  --secondary-3: #7785ac;
  --secondary-4: #3a0ca3;

  --tertiary-1: #ff9e00;
  --tertiary-2: #ff9100;
  --tertiary-3: #ff8500;
  --tertiary-4: #ff7900;
  --tertiary-5: #ff6d00;
  --tertiary-6: #fff4e1;


  /* grey */
  --grey-1: #e5e6eb;
  --grey-2: #d2d4dc;
  --grey-3: #c0c2ce;
  --grey-4: #afafaf;
  --grey-5: #767385;
  --grey-6: #32303b;
  --grey-7: #16151c;
  --grey-8: #0b080b;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #ff0b20;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* rest of the vars */
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --min-width: 240px;
  --max-width: 1400px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px; 
  --breakpoint-lg: 992px;
  --breakpoint-xl:1440px;
  --nav-height: 3rem;
}
